@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}


.navbar {
    background-color: #0cb4ce !important;
}

/* Our Team Section */
#team-section {
    margin: 80px 200px;
}

#team-section i {
    margin-right: 6px;
    font-size: 20px;
}

#team-section a i {
    text-decoration: none;
}

#team-section div {
    margin-bottom: 35px;
}


#our-team-title,
#faq-section {
    background-color: #0cb4ce;
    margin: 40px 0px;
    font-size: 30px;
}

#our-team-title h1,
#faq-section h1 {
    font-size: 25px;
}

@media only screen and (max-width: 1200px) {
    #team-section {
        margin: 80px 130px;
    }
}

@media only screen and (max-width: 950px) {
    #team-section {
        margin: 80px 60px;
    }
}


/* Footer Section */

#footer-section {
    background-color: #21d192;
    padding: 15px 10px;
    color: white;
    font-size: 20px;
    margin: 4px 2px;
}

#footer-section i {
    margin-left: 15px;
}

#footer-section a {
    color: white;
}

#footer-section-2 {
    padding-bottom: 60px;
    background-color: #eceff1;
    padding-top: 80px;
    border-radius: 10px;
    margin: 4px 2px;
}

#footer-section-2 hr {
    width: 60px;
    background-color: #7c4dff;
    height: 2px
}

#footer-section-2 div a {
    text-decoration: none;
    margin-bottom: 15px;
    color: black;
}

#footer-copyright-section {
    background-color: #BDBFC1;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    margin: 0px 2px;
    border-radius: 10px;
}

#footer-contact div {
    padding-bottom: 10px;
}

#footer-useful-link a:hover {
    color: blue;
    cursor: pointer;
}

/* Science and Technology department */
#csit-sem-sub {
    margin: 30px 10px;
}

#csit-sem-sub div {
    border: 2px solid white;
    margin: 25px;
}


#csit-sem-sub ol li a {
    text-decoration: none;
    color: black;
}

#csit-sem-sub ol li a:hover {
    cursor: pointer;
    color: blue;
}

/* Zoom In Zoom Out Section */
.zoominout{
    transition: 1s;
}

.zoominout:hover{
    transform: scale(1.1);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(20, 9, 61), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3) !important;
    background-color: #BDBFC1;
    border-radius: 20px !important;
}
